{% extends 'main.html' %}
{% load static %}

{% block menu %}

    <li >
      <a href="/" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
        Главная
      </a>
    </li>
    {% if request.user.is_authenticated %}
      {% if request.user.is_staff %}
        <li class="nav-item">
          <a href="/dashboard/" class="nav-link text-white" aria-current="page">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
            Панель приборов
          </a>
        </li>
      {% endif %}
    {% endif %}
    <li>
      <a href="/dashboard/" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
        Продукты
      </a>
    </li>
    <li>
      <a href="/feedback/" class="nav-link active">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#chat-right"/></svg>
        Связаться с нами
      </a>
    </li>
    <li>
      <a href="/dashboard/" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
        О компании
      </a>
    </li>
{% endblock %}

{% block style %}
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sidebars/">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>


    <!-- Custom styles for this template -->
    <link href="{% static 'sidebars.css' %}" rel="stylesheet">
{% endblock %}

{% block news %}
{% csrf_token %}
<div class="d-flex flex-column p-3 text-black bg-white" style="overflow: auto;">
    <div class="row" id="DashboardRows">
      <div class="col-xxl-12">
         <div class="card bg-dark text-white">
         <div class="card-body">
         <div class="card-text" style="font-size: 18px;font-family: ui-monospace;display: flex;">
         <p style="margin-bottom: 1rem;font-family: sans-serif;max-width: fit-content;height: min-content;">
         <em style="font-size: 22px;"><b style="font-size: 24px;">Расскажите о своей проблеме</b></em></p>
         </div>
         <div class="card-text feedback-card" style="width: 100%;">
         <div id="email_flex">
            <p class="text-cursive-museosan" style="font-size: 18px;font-family: \'museosanscyrl-300\', cursive;">Имя:</p>
            <input type="text" class="Supported" id="last_name" name="last_name" value="" style="height: 2rem;border: 0;border-radius: 5px;">
         </div>
         <div id="email_flex">
            <p class="text-cursive-museosan" style="font-size: 18px;font-family: \'museosanscyrl-300\', cursive;">Фамилия:</p>
            <input type="text" class="Supported" id="first_name" name="first_name" value="" style="height: 2rem;border: 0;border-radius: 5px;">
         </div>
         <div id="email_flex">
            <p class="text-cursive-museosan" style="font-size: 18px;font-family: \'museosanscyrl-300\', cursive;">Адресс:</p>
            <input type="text" class="Supported" id="address" name="address" value="" style="height: 2rem;border: 0;border-radius: 5px;">
         </div>
         <div id="email_flex">
            <p class="text-cursive-museosan" style="font-size: 18px;font-family: \'museosanscyrl-300\', cursive;">Проблема:</p>
            <textarea rows="5" cols="50" class="Supported" id="message" name="message" style="border: 0px;border-radius: 5px;"></textarea>
         </div>
         <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
         <button class="btn btn-primary" id="Supported_btn" type="submit" name="Supported" style="width: 11rem;margin-top: 1rem;font-size: 20px;">Отправить</button>
         </div>
         </div>
         </div>
      </div>
    </div>
</div>


{% endblock %}

{% block main %}

    <script src="{% static 'sidebars.js' %}"></script>
{% endblock %}